.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__list {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
}

.dropdown__isOpen .dropdown__list {
    display: block;
}

.dropdown__currentValue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 0.4rem;
}

.dropdown__currentValueTitle {
    font-size: 1.3rem;
    font-weight: 500;
}

.dropdown__currentValueIcon {
}
