.dropdown {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.dropdown__currentValue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 0.4rem;
    cursor: pointer;
}

.dropdown__currentValueTitle {
    font-size: 1.3rem;
    font-weight: 500;
}

.dropdown__currentValueIcon {
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.dropdown__isOpen .dropdown__currentValueIcon {
    transform: rotate(-180deg);
}

.dropdown__list {
    height: 0;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    /* border: 1px solid #ccc; */
    background-color: #fff;
    transition: all 1s ease-in-out;
}

.dropdown__isOpen .dropdown__list {
    display: block;
    height: 16.4rem;
}

.dropdown__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 0.4rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.dropdownItem input {
    display: none;
}
