.boardSelect {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.boardSelect__backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
}

.boardSelect__content {
    position: relative;
    top: 1.6rem;
    margin-inline: 5rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.6rem 2.4rem;
    z-index: 10;
    opacity: 1;
}


.boardSelect__title {
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.boardSelect__boardList {
    margin-bottom: 3.1rem;
    display: flex;
    flex-direction: column;
    gap: 2.9rem;
}