.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #fff;
    padding: 1.6rem 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.header__logo {
    margin-right: 1.6rem;
}
