@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

:root {
    --main-purple: #635fc7;
    --main-purple-hover: #a8a4ff;
    --black: #000112;
    --very-dark-grey: #20212c;
    --red: #ea5555;
    --red-hover: #ff9898;
    --medium-grey: #828FA3;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Plus Jakarta Sans", sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
